html{
	height:72%;
}

h1.title{
	font-family: 'Noto Serif', serif;
	font-style: italic;
	padding-left: 15px;
}

body{
	color:#7FDBFF;
	background-color: #001f3f;
	height:100%;
}

div.mainBody{
	font-family: 'Playfair Display', serif;
	position: relative;
	padding-left: 20px;
	height:100%;
}

div.divPlay{
	box-shadow: -3px 3px 5px #111111;
	background-color: #333333;
	margin-left: 11%;
	float:left;
	width: 33%;
	height: 100%;
    overflow: auto;
}

div.divPlayTurn{
	animation: pulse 0.5s;
	animation-fill-mode: forwards;
	background-color: #333333;
	margin-left: 12%;
	float:left;
	width: 33%;
	height: 100%;
    overflow: auto;
}

@keyframes pulse{
	from { box-shadow:0px 0px 10px 3px #FFDD1B; }
 	to { box-shadow:0px 0px 20px 5px #FFDD1B; }
}

div.buttonDiv{
	text-align:center;

}

div.info{
	display:inline-block;
    width: 200px;
    text-align: right;
    padding: 14px 10px 0 0;
    margin: 0 0 7px 0;
}

div.infoInput{
	display:inline-block;
    width: 130px;
    margin: 0;
    margin: 0 0 7px 0;
}

div.innerContent{
	position: relative;
	top: 45%;
	transform: translateY(-55%);
}

div.progress {
	width:100%;
	background-color: #001f3f;
}

div.bar {
  width: 100%;
  height: 30px;
  background-color: #4CAF50;
  text-align: center;
  line-height: 30px;
  color: white;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}


.modalContent {
    background-color: rgba(51, 51, 51, .8);
    margin: 15% auto;
    border: 1px;
    border-style: solid;
    border-color: rgba(70, 70, 70, .8);
    border-radius: 10px;
    width: 60%;
    height: 40%;
    text-align: center;
}

.customModalContent {
    background-color: rgba(51, 51, 51, .8);
    margin: 15% auto;
    border: 1px;
    border-style: solid;
    border-color: rgba(70, 70, 70, .8);
    border-radius: 10px;
    width: 60%;
    height: 40%;
    text-align: center;
    vertical-align: middle;
}

.winModalContent {
    background-color: rgba(51, 51, 51, .8);
    margin: 15% auto;
    border: 1px;
    border-style: solid;
    border-color: rgba(70, 70, 70, .8);
    border-radius: 10px;
    width: 60%;
    height: 40%;
    text-align: center;
    vertical-align: middle;
}

.rulesModalContent {
    background-color: rgba(51, 51, 51, .8);
    margin: 15% auto;
    border: 1px;
    border-style: solid;
    border-color: rgba(70, 70, 70, .8);
    border-radius: 10px;
    width: 60%;
    height: 40%;
    text-align: center;
    vertical-align: middle;
}

.instructionModalContent {
    background-color: rgba(51, 51, 51, .8);
    margin: 15% auto;
    border: 1px;
    border-style: solid;
    border-color: rgba(70, 70, 70, .8);
    border-radius: 10px;
    width: 60%;
    height: 40%;
    text-align: center;
    vertical-align: middle;
}

input[type="text"].answer{
	color:#7FDBFF;
	background-color: #001f3f;
	border-color: #0074D9;
	width: 99%;
	height: 40px;
	font-size: 36px;
}

table {
	margin: 20px;
    border-collapse: collapse;
    width: 90%;
    -ms-word-break: break-all;
	word-break: break-all;
	word-break: break-word;

}

tr{
	background-color: #000000;
	border: 10px solid #333333;
}

tr.trPlayer{
	background-color: transparent;
}

td, th {    
    text-align: left;
    font-size: 150%;
}

th{
	padding: 10px 2px;
}

td {
	padding: 10px
}

tr.scoreRow{
	background-color: #333333;
}

button {
    position: relative;
    background-color: #222222;
    border: none;
    font-size: 18px;
    color: #FFFFFF;
    padding: 20px;
    width: 150px;
    text-align: center;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
}